@use '@carbon/react/scss/theme';
@use '@carbon/react/scss/components';

:root {
  background-color: var(--cds-background);
  color: var(--cds-text-primary);
}

[data-theme='dark'] {
  --cds-background: #161616;
  --cds-text-primary: #f4f4f4;
  --cds-text-secondary: #c6c6c6;
  --cds-border-subtle: #393939;
  --cds-layer: #262626;
  --cds-link-primary: #78a9ff;
  background-color: var(--cds-background);
  color: var(--cds-text-primary);
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: var(--cds-background);
  color: var(--cds-text-primary);
}
